/*Border Box*/
html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

header {
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    text-align: left;
    background-color: crimson;
    font-size: 24px;
}

.column {
    float: left;
    width: 33.3%;
    padding: 3.3%;
}

h2 {
    color:crimson;
}

.years {
    border: solid;
    padding: 5%;
}

.recomended, .required {
    text-align: center;
    border: solid;
}