html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

header {
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    text-align: left;
    background-color: crimson;
    font-size: 24px;
}

.column {
    float: left;
    width: 33.3%;
    padding: 3.3%;
}

.table {
    padding-top: 5px;
}

h2 {
    color:crimson;
}

/* left column */

.years {
    border: solid;
    padding: 5%;
}

.years h1{
    text-align: center;
}

.inProgress{
    border: solid;
    padding: 3%;
    margin-top: 5%;
    font-size: 20px;
}

.inProgress ul{
    overflow:hidden;
    overflow-y: scroll;
    max-height: 250px;
}

.inProgress h1{
    text-align: center;
}

/* right column */
.recomended, .required {
    text-align: center;
    border: solid;
}